@charset "utf-8";
  a:link{
	text-decoration:none;
	  color:black;
}
a:visited{
	color: black;
}
a:hover{
	color: red;
}
#Cot1{
	width: 125px;
	background: #E2D6D6;
	top:9px;
	position: absolute;
	height: 150px;
	text-align: center;
}
#Cot2{
	width: 125px;
	background: #E2D6D6;
	left: 125px;
	top:9px;
	position: absolute;
	height: 150px;
	text-align: center;
}

#Cot3{
	width: 125px;
	background: #E2D6D6;
	left: 250px;
	top:9px;
	position: absolute;
	height: 150px;
	text-align: center;

}
#Cot4{
	width: 125px;
	background: #E2D6D6;
	left: 375px;
	top:9px;
	position: absolute;
	height: 150px;
	text-align: center;

}
#Cot5{
	width: 125px;
	background: #E2D6D6;
	left: 500px;
	top:9px;
	position: absolute;
	height: 150px;
	text-align: center;
}
#Cot6{
	width: 125px;
	background: #E2D6D6;
	top:9px;
	position: absolute;
	height: 150px;
	left: 625px;
	border-left-width: 2px;
	border-left-style: dotted;
	text-align: center;
	
	
}
#footer{
	border-top-width: 3px;
	width: 750px;
	border-top-style: solid;
	top:9px;
	position: absolute;
	height: 350px;
}
#Cot7{
	width: 400px;
	background: #6AB5A5;
	position: absolute;
	height: 150px;
	line-height: 2px;
	
}
#Cot8{
	width: 175px;
	background: #6AB5A5;
	left: 400px;
	position: absolute;
	height: 150px;
	text-align: center;
	border-left-width: 2px;
	border-left-style: dotted;
	
}
#Cot9{
	width: 175px;
	background: #6AB5A5;
	left: 575px;
	position: absolute;
	height: 150px;
	border-left-width: 2px;
	border-left-style: dotted;
	text-align: center;
	
}
#Duoi{
	border-top-width: 3px;
	width: 750px;
	border-top-style: solid;
	top:175px;
	position: absolute;
	height: 150px;
	
}